@charset "utf-8";

html, body {
	/overflow: hidden;
	max-width: 100%;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

::-webkit-scrollbar-thumb {
	background: #666;
}

#content {
	/position: absolute;
	/left: 250px;
	/top: 60px;
	min-height: calc(100% - 75px);
	width: calc(100% - 250px);
	background: #EEE;
	/overflow-y: scroll;
	overflow-x: auto;
	padding-bottom: 15px;
	
	margin-left: 250px;
	margin-top: 60px;
}

#content .ptitle {
	width: 100%;
	border-bottom: 1px solid #DFDFDF;
	font-family: 'Open Sans';
}

#content .ptitle .pttext:before {
	content: '\f015';
	font-family: 'FontAwesome';
	font-size: 40px;
	margin-right: 10px;
}

#content .ptitle .pttext {
	margin-top: 20px;
	display: inline-block;
	float: left;
	line-height: 35px;
	font-size: 30px;
	color: #222;
	margin-left: 15px;
}

#content .breadcrumb {
	float: right;
	margin-right: 15px;
	margin-top: 30px;
}

#content .breadcrumb li {
	display: inline-block;
	font-size: 14px;
}

#content .breadcrumb li + li:before {
	content: '\f101\00a0';
	color: #666;
	font-size: 13px;
	font-family: 'FontAwesome';
}

#content .breadcrumb li a {
	color: #3C8DBC;
	text-decoration: none;
	transition: .1s;
}

#content .breadcrumb li a:hover {
	color: #29273F;
	text-decoration: underline;
}

#content .gs-cbigbox {
	width: calc(100% - 60px);
	margin: auto;
	margin-left: 15px;
	margin-top: 20px;
	border: 1px #BBB solid;
	border-top: 4px #BBB solid;
	border-radius: 3px;
	padding: 15px;
	padding-top: 5px;
	background: #FFF;
	font-family: 'Open Sans';
	display: inline-block;
	float: left;
}

#content .gs-cbigbox.twothird {
	width: calc(66% - 50px);
}

#content .gs-cbigbox.half {
	width: calc(50% - 55px);
}

#content .gs-cbigbox.third {
	width: calc(33% - 45px);
}

#content .gs-cbigbox + .gs-cbigbox {
	margin-top: 20px;
}

#content .gs-cbigbox .gs-btitle {
	font-size: 30px;
	border-bottom: 1px solid #BBB;
	font-weight: bold;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

#content .gs-cbigbox .gs-bsubtitle {
	font-size: 15px;
	font-weight: normal;
}

#content .gs-cbigbox.tilebox {
	padding: 0;
	display: table;
	
	width: calc(100% - 30px);
}

#content .gs-cbigbox.tilebox .gs-tile {
	height: 100px;
	width: 1%;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	background: #EEE;
	color: #29273F;
}

#content .gs-cbigbox.tilebox.big {
	height: 130px;
}


#content .gs-cbigbox.tilebox .gs-tile .gs-info {
	font-weight: bold;
	font-size: 25px;
}

#content .gs-cbigbox.tilebox .gs-tile .gs-info.success {
	color: #00A65A;
}

#content .gs-cbigbox.tilebox .gs-tile .gs-info.warning {
	color: #F39C12;
}

#content .gs-cbigbox.tilebox .gs-tile .gs-info.danger {
	color: #DD4B39;
}

#content .gs-cbigbox.tilebox .gs-tile + .gs-tile {
	border-left: 1px #BBB solid;
}

.gs-hr {
	border: 0;
	background: #CCC;
	height: 1px;
	width: 100%;
}

.gs-hr.invisible {
	height: 0;
}

.gs-hr.blockbreak {
	height: 0;
	margin: 0;
	padding: 0;
}

.progressbar {
	height: 25px;
	background-color: #DDD;
	border-radius: 3px;
	padding: 0px;
	margin-bottom: 10px;
	margin-top: 10px;
	font-size: 0px;
}

.progressbar .pbprogress {
	background-color: #008D4C;
	height: 100%;
	width: 0;

	font-family: 'Open Sans';
	font-size: 15px;
	line-height: 25px;
	text-align: center;
	color: #000;
	transition: .3s;
	display: inline-block;
	color: #FFF;
	font-family: 'Open Sans';
	font-size: 14px;
}

.progressbar .pbprogress.warning {
	background-color: #E08E0B;
}

.progressbar .pbprogress.danger {
	background-color: #D73925;
}

.progressbar.small {
	height: 5px;
}

.progressbar.big {
	height: 30px;
}

table.gs-table {
	width: 100%;
	font-family: 'Open Sans';
	border-collapse: collapse;
}

table.gs-table th {
	text-align: left;
	height: 40px;
	border-bottom: 2px solid #CCC;
}

table.gs-table th:first-child {
	padding-left: 10px;
}

table.gs-table th:last-child {
	padding-right: 10px;
}

table.gs-table td {
	border-bottom: 1px solid #CCC;
	padding-top: 5px;
	padding-bottom: 5px;
}

table.gs-table td:first-child {
	padding-left: 10px;
}

table.gs-table td:last-child {
	padding-right: 10px;
}

table.gs-table tbody tr:nth-child(odd) {
	background: #EEE;
}

table.gs-table tbody tr:hover {
	background: #DFDEEB;
}

table.gs-table td a {
	text-decoration: none;
	color: #625E9B;
}

[data-action="tsearch"] {
	float: right;
	display: block;
	padding-left: 35px;
	background: #FFF url(../img/fa-search.png) no-repeat 10px;
	background-size: 18px;
}

.gs-tpager {
	display: inline-block;
	margin-top: 7px;
	height: 25px;
}

.gs-tpager .gs-pnumber {
	background: #FFF;
	border: 1px solid #29273F;
	color: #29273F;
	border-radius: 5px;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	outline: none;
	font-family: 'Open Sans';
	transition: .2s;
}

.gs-tpager .gs-pnumber:hover {
	cursor: pointer;
	background: #29273F;
	color: #FFF;
}

.gs-tpager .gs-pnumber + .gs-pnumber {
	margin-left: 5px;
}

.gs-tpager .gs-pnumber.active {
	background: #29273F;
	color: #FFF;
}

.gs-infolist {
	padding: 0;
	margin: 0;
	margin-top: 20px;
	margin-bottom: 20px;
}

.gs-infolist li {
	min-height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #BBB;
	list-style: none;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
}

.gs-infolist li:nth-child(odd) {
	background-color: #EEE;
}

.gs-infolist li b {
	color: #444;
}

.gs-canv {
	width: 100%;
}

.gs-graph {
	max-width: 100%;
}

/* MOBILE */                                                                                               /* MOBILE */

@media (max-width: 800px) {
	#content #box {
		width: 95%;
	}
	
	.gs-sidemenu {
		width: 100%;
		height: calc(100% - 60px);
		left: -100%;
		top: 60px;
		position: fixed;
	}

	#content {
		margin-left: 0;
		width: 100%;
	}
	
	#gs-menuicon {
		display: block;
	}
	
	.gs-topbar #gs-userinfo, .gs-topbar #gs-logoff {
		display: none;
	}
	
	.gs-topbar #gs-logo {
		width: calc(100% - 130px);
		margin: auto;
	}
	
	#content .gs-cbigbox.half {
		width: calc(100% - 60px);
	}

	#content .ptitle {
		padding-bottom: 10px;
	}
	
	#content .ptitle .pttext {
		display: block;
		float: none;
		
	}
	
	#content .breadcrumb {
		display: none;
	}
	
	#content .gs-cbigbox.tilebox .gs-tile {
		display: block;
		width: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
		height: 60px;
		display: block;
	}
	
	#content .gs-cbigbox.tilebox .gs-tile + .gs-tile {
		border-top: 1px solid #BBB;
		border-left: 0;
	}
	
	.gs-table, .gs-table thead, .gs-table tbody, .gs-table th, .gs-table td, .gs-table tr { 
		display: block; 
	}
	
	.gs-fselect {
		width: calc(100% - 0px);
		display: table-cell;
	}
	
	.gs-fselect.autosize {
		width: auto;
	}
	
	.gs-flabel {
		width: calc(100% - 0px);
		margin-top: 10px;
		display: block;
	}
	
	.gs-flabel.nobreak {
		width: inherit;
		display: inline-block;
	}
	
	.gs-ftext {
		width: calc(100% - 20px);
	}
	
	.gs-ftext.gs-fuser-icon, .gs-ftext.gs-fpass-icon {
		width: calc(100% - 45px);
	}
	
	.gs-ftext.tiny {
		width: 10%;
	}
	
	.gs-ftext.small {
		width: 40%;
	}
	
	.gs-ftext.medium {
		width: 70%;
	}

	.gs-ftext.big {
		width: calc(100% - 20px);
	}

	.gs-ftext.giant {
		width: calc(100% - 20px);
	}
	
	.gs-textarea {
		min-width: calc(100% - 25px);
		max-width: calc(100% - 25px);
	}
	
	.gs-ftext + .gs-ftext {
		margin-top: 10px;
	}
	
	.gs-btn {
		width: 100%;
		height: 45px;
		margin-top: 10px;
		font-size: 18px;
	}
	
	.gs-btn.autosize {
		width: auto;
	}
	
	.gs-table {
		margin-top: 10px;
		display: block;
	}
	
	.gs-table thead tr {
		display: none;
	}
	
	.gs-table tbody tr {
		padding-left: 0px;
		display: block;
	}
	
	.gs-table tbody tr + tr {
		margin-top: 5px;
	}
	
	.gs-table tbody tr td {
		padding-left: 10px;
		height: auto;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	.gs-table tbody tr td:first-child {
		background: #CCC;
	}
	
	.gs-tpager {
		float: none;
		display: inline-block;
		margin-top: 10px;
	}
	
	[data-action="tsearch"] {
		width: calc(100% - 50px);
		float: none;
	}
	
	/**/
	
	.gs-addon {
		width: 1px;
	}

	/**/
	
	.gs-modal-content {
		width: 100%;
		width: calc(100% - 20px) !important;
	}
	
	.gs-modal-content .footer .left {
		float: none;
	}
	
	.gs-modal-content .footer .right {
		float: none;
	}
}