.gs-flabel {
	display: inline-block;
	vertical-align: bottom;
}

.gs-flabel b {
	display: block;
}

.gs-inputgroup {
	border: 0;
	padding-top: 10px;
}

.gs-inputgroup + .gs-inputgroup {
	border-top: 1px solid #CCC;
}

.gs-ftext {
	background: #FFF;
	border: 1px solid #AAA;
	height: 25px;
	width: 200px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	outline: none;
	font-family: 'Open Sans';
	font-size: 14px;
	-webkit-appearance: none;
	-webkit-border-radius:0;
}

.gs-ftext:disabled {
	background: #DDD;
}

.gs-ftext.display {
	border: 0;
	border-radius: 0;
	padding-left: 0;
}

.gs-ftext.tiny {
	width: 30px;
}

.gs-ftext.small {
	width: 100px;
}

.gs-ftext.medium {
	width: 170px;
}

.gs-ftext.big {
	width: 250px;
}

.gs-ftext.giant {
	width: 500px;
}

.gs-flabel .gs-prefix-group {
	display: table;
	border-collapse: separate;
	width: 100%;
}

.gs-flabel .gs-prefix-group .gs-ftext {
	display: table-cell;
}

.gs-flabel .gs-addon {
	background: #EEE;
	color: #888;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #AAA;
	display: table-cell;
	vertical-align: middle;
}

.gs-flabel .gs-addon.icon {
	width: 15px;
	text-align: center;
}

.gs-prefix-group > .gs-addon:first-child {
	border-right: 0;
}

.gs-prefix-group > .gs-addon:last-child {
	border-left: 0;
}

.gs-flabel.success {
	color: #00A65A;
}

.gs-flabel.success .gs-ftext,
.gs-flabel.success .gs-fselect,
.gs-flabel.success .gs-textarea {
	border-color: #00A65A;
}

.gs-flabel.warning {
	color: #F39C12;
}

.gs-flabel.warning .gs-ftext,
.gs-flabel.warning .gs-fselect,
.gs-flabel.warning .gs-textarea {
	border-color: #F39C12;
}

.gs-flabel.danger {
	color: #DD4B39;
}

.gs-flabel.danger .gs-ftext,
.gs-flabel.danger .gs-fselect,
.gs-flabel.danger .gs-textarea {
	border-color: #DD4B39;
}

.gs-fselect {
	background: #FFF url(../img/dropdownarrow.png) right 8px top 8px no-repeat;
	border: 1px solid #AAA;
	height: 36px;
	width: 220px;
	padding: 5px;
	padding-right: 30px;
	outline: none;
	
	font-family: 'Open Sans';
	
	-webkit-appearance: none;
	-o-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-webkit-border-radius:0;
}

select::-ms-expand {
	display: none;
}

.gs-fselect.autosize {
	width: auto;
}

.gs-btn {
	background: #29273F;
	border: 1px solid #1A1827;
	color: #FFF;
	border-radius: 3px;
	height: 35px;
	padding-left: 10px;
	padding-right: 10px;
	outline: none;
	font-family: 'Open Sans';
	transition: .1s;
	-webkit-appearance: none;
	font-weight: bold;
}

.gs-btn:hover {
	cursor: pointer;
	background: #1A1827;
}

.gs-btn.danger {
	background: #DD4B39;
	border-color: #D73925;
}

.gs-btn.danger:hover {
	background: #D73925;
}

.gs-btn.warning {
	background: #F39C12;
	border-color: #E08E0B;
}

.gs-btn.warning:hover {
	background: #E08E0B;
}

.gs-btn.success {
	background: #00A65A;
	border-color: #008D4C;
}

.gs-btn.success:hover {
	background: #008D4C;
}

.gs-btn.success {
	border-color: #008D4C;
	background: #449D44;
}

.gs-btn.success:hover {
	background: #008D4C;
}


.gs-btn.tiny {
	height: 20px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 10px;
}

.gs-btn.small {
	height: 30px;
}

.gs-btn.big {
	height: 40px;
	padding-left: 15px;
	padding-right: 15px;
}

.gs-btn.giant {
	height: 45px;
	padding-left: 40px;
	padding-right: 40px;
}

.gs-itemgroup {
	border: 1px solid #CCC;
	padding: 10px;
	background: #EEE;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
}

.gs-itemgroup label {
	display: block;
	font-weight: normal;
}

.gs-textarea {
	background: #FFF;
	border: 1px solid #AAA;
	padding: 10px;
	min-height: 100px;
	min-width: 400px;
	outline: none;
	font-family: 'Open Sans';
	font-size: 14px;
	-webkit-appearance: none;
	-webkit-border-radius:0;
}

.gs-textarea.noresize {
	resize: none;
}