@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

html, body {
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

#content {
	background: #AAA url(../img/bg.jpg);
	background-size: cover;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	font-family: 'Open Sans';
}

#content #box {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	margin: auto;

	width: 300px;
	min-height: 260px;
	background: #29273F;
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,.5);

	transition: .2s;
	
	padding-bottom: 10px;
}

#content #box #logo {
	width: 100%;
	height: 50px;
	background: url(../img/logo.png) center no-repeat;
	margin-top: 20px;
	display: inline-block;
}

#content #box form {
	width: 200px;
	margin: auto;
}

.gs-flabel {
	margin-top: 10px;
}

.gs-flabel .gs-ftext {
	width: 150px;
}

#content #box form input[type="submit"] {
	height: 40px;
	margin: none;
	margin-top: 20px;
	width: 200px;

	font-size: 18px;
}

#errorbox {
	color: red;
	text-align: center;
	margin-top: 20px;
}

#content #box #forgotpass {
	color: #999;
	display: block;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 15px;
	transition: .1s;
	text-decoration: none;
}

#content #box #forgotpass:hover {
	color: #FFF;
}

#fright {
	position: absolute;
	bottom: 10px;
	right: 10px;
	margin-right: 10px;
	font-family: 'Open Sans';
}

#fright a {
	color: black;
}

@media (max-width: 400px) {
	#content #box {
		width: 95%;
	}
}