#content {
	background: #AAA url(../img/bg.jpg);
	background-size: cover;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	font-family: 'Open Sans';
}

#content #box {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	margin: auto;

	width: 300px;
	min-height: 300px;
	background: #29273F;
	box-shadow: 0px 0px 10px #888;

	border: 1px #141320 solid;
	border-radius: 5px;
}

#content #box #logo {
	width: 100%;
	height: 50px;
	background: url(../img/logo.png) center no-repeat;
	margin-top: 20px;
	display: inline-block;
}

#content #box form {
	width: 200px;
	margin: auto;
}

#content #box form input[type="text"],
#content #box form input[type="password"] {
	width: 153px;
	outline: none;
	font-size: 15px;
	margin: none;
	margin-top: 10px;
}

#content #box form input[type="submit"] {
	height: 40px;
	margin: none;
	margin-top: 20px;
	width: 200px;

	font-size: 18px;
}

#errorbox {
	color: red;
	text-align: center;
	margin-top: 20px;
}

#content #box #forgotpass {
	color: white;
	display: block;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 14px;
}

#content #box #forgotpass:hover {
	color: lightgray;
}

#fright {
	position: absolute;
	bottom: 10px;
	right: 10px;
	margin-right: 10px;
	font-family: 'Open Sans';
}

#fright a {
	color: black;
}