.gs-messagebox {
	width: calc(100% - 60px);
	margin: auto;
	margin-top: 5px;
	border-left: 5px #387592 solid;
	border-radius: 3px;
	padding: 15px;
	background: #D4E5EE;
	font-family: 'Open Sans';
	color: #387592;
}

.gs-messagebox.success {
	border-color: #569A58;
	color: #569A58;
	background: #D7E8D7;
}

.gs-messagebox.warning {
	border-color: #BBA839;
	color: #BBA839;
	background: #F1ECD0;
}

.gs-messagebox.danger {
	border-color: #D75557;
	color: #D75557;
	background: #F7DDDC;
}

.gs-messagebox a {
	color: #387592;
}

.gs-messagebox.success a {
	color: #569A58;
}

.gs-messagebox.warning a {
	color: #BBA839;
}

.gs-messagebox.danger a {
	color: #D75557;
}