@charset "utf-8";

.gs-messagebox {
	width: calc(100% - 60px);
	margin: auto;
	margin-top: 5px;
	border-left: 5px #387592 solid;
	border-radius: 3px;
	padding: 15px;
	background: #D4E5EE;
	font-family: 'Open Sans';
	color: #387592;
}

.gs-messagebox.success {
	border-color: #569A58;
	color: #569A58;
	background: #D7E8D7;
}

.gs-messagebox.warning {
	border-color: #BBA839;
	color: #BBA839;
	background: #F1ECD0;
}

.gs-messagebox.danger {
	border-color: #D75557;
	color: #D75557;
	background: #F7DDDC;
}

.gs-messagebox a {
	color: #387592;
}

.gs-messagebox.success a {
	color: #569A58;
}

.gs-messagebox.warning a {
	color: #BBA839;
}

.gs-messagebox.danger a {
	color: #D75557;
}

/* LAYOUT V2.1 */

.gs-messagebox {
	background: #3C8DBC;
	color: #FFF;
	border-color: #245471;
}

.gs-messagebox.success {
	background: #00A65A;
	color: #FFF;
	border-color: #00552F;
}

.gs-messagebox.warning {
	background: #F39C12;
	color: #FFF;
	border-color: #8E5B06;
}

.gs-messagebox.danger {
	background: #DD4B39;
	color: #FFF;
	border-color: #812116;
}

.gs-messagebox a {
	color: #FFF;
}