@charset "utf-8";

.gs-messagebox {
	width: calc(100% - 60px);
	margin: auto;
	margin-left: 15px;
	margin-top: 5px;
	border-left: 5px #245471 solid;
	border-radius: 3px;
	padding: 15px;
	background: #3C8DBC;
	font-family: 'Open Sans';
	color: #FFF;
	display: inline-block;
}

.gs-messagebox.success {
	background: #00A65A;
	color: #FFF;
	border-color: #00552F;
}

.gs-messagebox.warning {
	background: #F39C12;
	color: #FFF;
	border-color: #8E5B06;
}

.gs-messagebox.danger {
	background: #DD4B39;
	color: #FFF;
	border-color: #812116;
}

.gs-messagebox a {
	color: #FFF;
}

/* Modal Class */

.gs-modal-fade {
	display: none;
	top: 0;

	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.7);
	position: fixed;
	z-index: 101;
	transition: .2s;
	overflow-x: hidden;
	overflow-y: auto;

	-webkit-overflow-scrolling: touch;
}

.gs-modal-content {
	z-index: 11;
	background: #FFF;
	display: none;
	font-family: 'Open Sans';
	position: relative;
	opacity: 0;
	top: 0;
	margin: auto;
	margin-bottom: 40px;
	width: 600px;

	border-radius: 3px;
	box-shadow: 0px 5px 15px 5px rgba(0,0,0,.3);
	transition: .2s;
}

.gs-modal-content.danger {
	background-color: #DD4B39;
	color: white;
}

.gs-modal-content.warning {
	background-color: #F39C12;
	color: white;
}

.gs-modal-content.success {
	background-color: #008D4C;
	color: white;
}

.gs-modal-content.small {
	width: 300px;
}

.gs-modal-content.large {
	width: 900px;
}

.gs-modal-content.noclose .header .close {
	display: none;
}

.gs-modal-content .header {
	background: rgba(0,0,0,.2);
	padding: 10px;
}

.gs-modal-content .header .title {
	font-size: 22px;
}

.gs-modal-content .header .close {
	float: right;
	font-family: 'FontAwesome';
	font-size: 20px;
	cursor: pointer;
	background: none;
	border: none;
	outline: none;
	transition: .1s;
	color: rgba(0,0,0,.3);
}

.gs-modal-content .header .close:hover {
	color: rgba(0,0,0,.8);
}

.gs-modal-content .header .close:after {
	content: '\f00d';
}

.gs-modal-content .body {
	padding: 10px;
	font-size: 15px;
	border-top: 1px solid rgba(0,0,0,.4);
	border-bottom: 1px solid rgba(0,0,0,.4);
}

.gs-modal-content .body p {
	padding-left: 15px;
	padding-right: 10px;
}

.gs-modal-content .footer {
	background: rgba(0,0,0,.2);
	padding: 10px;
}

.gs-modal-content .footer .left {
	float: left;
}
.gs-modal-content .footer .right {
	float: right;
}

/* Notification Class */

#gs-notification-box {
	width: 250px;
	position: fixed;
	top: 60px;
	right: -100%;
	height: calc(100% - 60px);
	background: #191919;
	transition: .3s;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

#gs-notification-box ul {
	list-style: none;
	padding: 0;
	margin: 0;
	height: 50px;
	line-height: 30px;
	color: #FFF;
	font-family: 'Open Sans';
}

#gs-notification-box ul li {
	border-bottom: 1px solid #333;
	padding-left: 10px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	font-size: 13px;
	cursor: pointer;
	border-left: 5px solid transparent;
}

#gs-notification-box ul li:hover {
	background-color: #131313;
	border-left: 5px solid #403D63;
}

#gs-notification-box ul li .info {
	line-height: 15px;
	font-size: 13px;
	color: #999;
	margin-bottom: 10px;
}