@charset "utf-8";

.gs-sidemenu {
	position: absolute;
	left: 0;
	top: 60px;
	height: calc(100% - 60px);
	width: 250px;
	background: #1E1E1E;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	z-index: 5;
	transition: .3s;
}

.gs-sidemenu ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.gs-sidemenu ul li {
	height: 50px;
	border-bottom: 1px solid #333;
}

.gs-sidemenu ul li a {
	color: #666;
	text-decoration: none;
	height: 50px;
	line-height: 50px;
	display: block;
	padding-left: 20px;
	font-family: 'Open Sans';
	font-size: 15px;
	transition: .2s;
	background-size: 20px;
	font-weight: bold;
}

.gs-sidemenu ul li a[href]:hover {
	background-color: #3B3B3B;
	padding-left: 40px;
	color: #FFF;
	border-left: 5px solid #29273F;
}

.gs-sidemenu ul li.separator {
	height: 40px;
}

.gs-sidemenu ul li.separator a {
	font-weight: normal;
	background: #111;
	height: 40px;
	line-height: 40px;
}

.gs-sidemenu ul li.separator a.icon:before {
	font-size: 20px;
	margin-right: 15px;
}

.gs-sidemenu ul li a.icon:before {
	font-family: 'FontAwesome';
	font-size: 25px;
	margin-right: 20px;
	font-weight: normal;
}

.gs-sidemenu ul li a.home:before {
	content: '\f015';
}

.gs-sidemenu ul li a.user:before {
	content: '\f007';
}

.gs-sidemenu ul li a.test:before {
	content: '\f0f6';
}

.gs-sidemenu ul li a.calendar:before {
	content: '\f073';
}

.gs-sidemenu ul li a.newspaper:before {
	content: '\f1ea';
}

.gs-sidemenu ul li a.book:before {
	content: '\f02d';
}

.gs-sidemenu ul li a.user-secret:before {
	content: '\f21b';
}