@charset "utf-8";

.gs-sidemenu {
	position: fixed;
	left: 0;
	top: 60px;
	height: calc(100% - 60px);
	width: 250px;
	background: #191919;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	z-index: 5;
	transition: background-color .1s, color .1s, border-left .1s, left .3s;
}

.gs-sidemenu ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.gs-sidemenu ul li {
	height: 45px;
	border-bottom: 1px solid #202020;
}

.gs-sidemenu ul li a {
	color: #777;
	text-decoration: none;
	height: 100%;
	line-height: 45px;
	display: block;
	padding-left: 20px;
	font-family: 'Open Sans';
	font-size: 15px;
	transition: .1s;
	outline: none;
	border-left: 3px solid transparent;
}

.gs-sidemenu ul li a[href]:hover {
	background-color: #131313;
	color: #FFF;
	border-left: 3px solid #403D63;
}

.gs-sidemenu ul li.separator {
	height: 40px;
}

.gs-sidemenu ul li.separator a {
	font-weight: normal;
	background: #111;
	height: 40px;
	line-height: 40px;
}

.gs-sidemenu ul li.separator a.icon:before {
	font-size: 16px;
	margin-right: 15px;
}

.gs-sidemenu ul li a.icon:before {
	font-family: 'FontAwesome';
	font-size: 20px;
	margin-right: 20px;
	font-weight: normal;
}