@charset "utf-8";
@import url(open-sans.css);
@import url(font-awesome.min.css);

.gs-topbar {
	position: fixed;
	left: 0;
	top: 0;
	height: 60px;
	width: 100%;
	background: #29273F;
	box-shadow: 0 0 1px 0 #000;
	z-index: 100;
}

.gs-topbar #gs-userinfo {
	min-width: 200px;
	height: 100%;
	float: right;
	background: rgba(0,0,0,.2);
	color: #FFF;
	font-family: 'Open Sans';
	padding-left: 20px;
	padding-right: 20px;
}

.gs-topbar #gs-userinfo #gs-tusername {
	font-size: 20px;
	margin-top: 8px;
}

.gs-topbar #gs-userinfo #gs-tusersub {
	font-size: 10px;
	color: lightgrey;
}

.gs-topbar #gs-logoff {
	width: 65px;
	height: 100%;
	float: right;
	background: rgba(0,0,0,.2);
	margin-left: 1px;
	display: block;
	line-height: 65px;
	font-family: 'FontAwesome';
	font-size: 25px;
	text-align: center;
	color: #CCC;
	text-decoration: none;
	transition: .3s;
}

.gs-topbar #gs-logoff:hover {
	color: #FFF;
}

.gs-topbar #gs-logoff:after {
	content: '\f011';
}

.gs-topbar #gs-logo {
	width: 250px;
	height: 100%;
	float: left;
	background: rgba(0,0,0,.2) url(../img/logo.png) center no-repeat;
}

.gs-topbar #gs-topnotify {
	width: 30px;
	height: 30px;
	float: right;
	margin-top: 15px;
	margin-right: 20px;
	color: #CCC;
	text-decoration: none;
	transition: .2s;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	font-family: 'FontAwesome';
	outline: none;
	cursor: pointer;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.gs-topbar #gs-topnotify:hover {
	color: #FFF;
}

.gs-topbar #gs-topnotify:after {
	content: '\f0a2';
}

.gs-topbar #gs-topnotify.new:after {
	content: '\f0f3';
}

#gs-menuicon {
	width: 40px;
	height: 40px;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	color: #CCC;
	font-family: 'FontAwesome';
	font-size: 30px;
	line-height: 40px;
	text-align: center;
	display: none;
	transition: .1s;
	cursor: pointer;
	outline: none;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

#gs-menuicon:hover {
	color: #FFF;
}

#gs-menuicon:after {
	content: '\f0c9';
}